# Sakila (Core) Assignment

## Data structure

In [1]:
"![png](C:\Projects\04 Growth\Data Science Bootcamp\04 Data enrichment\Week 16\Assignments\sakila-db-model.png)"

'![png](C:\\Projects\x04 Growth\\Data Science Bootcamp\x04 Data enrichment\\Week 16\\Assignments\\sakila-db-model.png)'

## Imports

In [2]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

## Setup

In [3]:
pymysql.install_as_MySQLdb()

## Create connection
username = "root"
password = "root"
db_name = "sakila"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [4]:
## Create engine
engine = create_engine(connection)


1. What query would you run to get all the customers inside city_id = 312?
Your query should return the customers' first name, last name, email, address, and citym_payments.

In [5]:
q_1 = """select
	cust.first_name,
	cust.last_name,
	cust.email,
    addr.address,
    addr.address2,
	addr.district,
    addr.postal_code,
    paym.amount

from
	sakila.customer cust

join
	sakila.address addr on cust.address_id = addr.address_id

join
	sakila.payment paym on cust.customer_id = paym.customer_id

where
	addr.city_id = 312;"""
pd.read_sql(q_1, engine)

,first_name,last_name,email,address,address2,district,postal_code,amount
0,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,4.99
1,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,0.99
2,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,5.99
3,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,4.99
4,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,0.99
5,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,0.99
6,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,2.99
7,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,0.99
8,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,0.99
9,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,4.99
10,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,0.99
11,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,0.99
12,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,0.99
13,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,5.99
14,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,0.99
15,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,0.99
16,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,2.99
17,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,0.99
18,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,4.99
19,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,5.99
20,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,4.99
21,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,,England,3433,4.99
22,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,6.99
23,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,4.99
24,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,2.99
25,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,5.99
26,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,0.99
27,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,6.99
28,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,3.99
29,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,2.99
30,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,0.99
31,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,6.99
32,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,4.99
33,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,2.99
34,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,4.99
35,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,3.99
36,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,9.99
37,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,8.99
38,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,4.99
39,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,0.99
40,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,4.99
41,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,2.99
42,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,2.99
43,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,3.99
44,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,3.99
45,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,4.99
46,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,4.99
47,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,,Ontario,35653,0.99

2. What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.

In [6]:
q_2 = """select
	film.title,
    film.description,
    film.release_year,
    film.rating,
    film.special_features
    
from
	sakila.film film

join
	sakila.film_category fcat on film.film_id = fcat.film_id

join
	sakila.category ncat on fcat.category_id = ncat.category_id
    
where
	ncat.name = 'Comedy';"""
pd.read_sql(q_2, engine)

,title,description,release_year,rating,special_features
0,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who m...,2006,PG-13,"Trailers,Deleted Scenes"
1,ANTHEM LUKE,A Touching Panorama of a Waitress And a Woman ...,2006,PG-13,"Deleted Scenes,Behind the Scenes"
2,BRINGING HYSTERICAL,A Fateful Saga of a A Shark And a Technical Wr...,2006,PG,Trailers
3,CAPER MOTIONS,A Fateful Saga of a Moose And a Car who must P...,2006,G,"Trailers,Commentaries,Deleted Scenes"
4,CAT CONEHEADS,A Fast-Paced Panorama of a Girl And a A Shark ...,2006,G,"Commentaries,Deleted Scenes"
5,CLOSER BANG,A Unbelieveable Panorama of a Frisbee And a Hu...,2006,R,"Trailers,Behind the Scenes"
6,CONNECTION MICROCOSMOS,A Fateful Documentary of a Crocodile And a Hus...,2006,G,"Deleted Scenes,Behind the Scenes"
7,CONTROL ANTHEM,A Fateful Documentary of a Robot And a Student...,2006,G,Commentaries
8,CRAZY HOME,A Fanciful Panorama of a Boy And a Woman who m...,2006,PG,"Commentaries,Deleted Scenes"
9,DADDY PITTSBURGH,A Epic Story of a A Shark And a Student who mu...,2006,G,"Deleted Scenes,Behind the Scenes"
10,DOOM DANCING,A Astounding Panorama of a Car And a Mad Scien...,2006,R,"Trailers,Commentaries"
11,DOWNHILL ENOUGH,A Emotional Tale of a Pastry Chef And a Forens...,2006,G,"Trailers,Commentaries,Deleted Scenes"
12,DYING MAKER,A Intrepid Tale of a Boat And a Monkey who mus...,2006,PG,Behind the Scenes
13,ELEMENT FREDDY,A Awe-Inspiring Reflection of a Waitress And a...,2006,NC-17,"Commentaries,Behind the Scenes"
14,FERRIS MOTHER,A Touching Display of a Frisbee And a Frisbee ...,2006,PG,"Trailers,Deleted Scenes,Behind the Scenes"
15,FIREBALL PHILADELPHIA,A Amazing Yarn of a Dentist And a A Shark who ...,2006,PG,"Trailers,Commentaries,Behind the Scenes"
16,FLINTSTONES HAPPINESS,A Fateful Story of a Husband And a Moose who m...,2006,PG-13,"Trailers,Commentaries,Deleted Scenes,Behind th..."
17,FRANKENSTEIN STRANGER,A Insightful Character Study of a Feminist And...,2006,NC-17,"Deleted Scenes,Behind the Scenes"
18,FREEDOM CLEOPATRA,A Emotional Reflection of a Dentist And a Mad ...,2006,PG-13,"Trailers,Commentaries,Behind the Scenes"
19,GOLD RIVER,A Taut Documentary of a Database Administrator...,2006,R,"Trailers,Commentaries,Deleted Scenes,Behind th..."
20,GROUNDHOG UNCUT,A Brilliant Panorama of a Astronaut And a Tech...,2006,PG-13,"Trailers,Commentaries,Deleted Scenes,Behind th..."
21,GUNFIGHT MOON,A Epic Reflection of a Pastry Chef And a Explo...,2006,NC-17,"Deleted Scenes,Behind the Scenes"
22,HATE HANDICAP,A Intrepid Reflection of a Mad Scientist And a...,2006,PG,"Trailers,Commentaries,Behind the Scenes"
23,HEAVEN FREEDOM,A Intrepid Story of a Butler And a Car who mus...,2006,PG,Commentaries
24,HEDWIG ALTER,A Action-Packed Yarn of a Womanizer And a Lumb...,2006,NC-17,"Trailers,Commentaries,Behind the Scenes"
25,HURRICANE AFFAIR,A Lacklusture Epistle of a Database Administra...,2006,PG,"Trailers,Commentaries,Behind the Scenes"
26,HUSTLER PARTY,A Emotional Reflection of a Sumo Wrestler And ...,2006,NC-17,"Trailers,Commentaries,Behind the Scenes"
27,JAWS HARRY,A Thrilling Display of a Database Administrato...,2006,G,Deleted Scenes
28,KNOCK WARLOCK,A Unbelieveable Story of a Teacher And a Boat ...,2006,PG-13,Trailers
29,LIFE TWISTED,A Thrilling Reflection of a Teacher And a Comp...,2006,NC-17,"Commentaries,Deleted Scenes"
30,LION UNCUT,A Intrepid Display of a Pastry Chef And a Cat ...,2006,PG,"Trailers,Deleted Scenes"
31,LONELY ELEPHANT,A Intrepid Story of a Student And a Dog who mu...,2006,G,"Trailers,Commentaries,Deleted Scenes,Behind th..."
32,MALLRATS UNITED,A Thrilling Yarn of a Waitress And a Dentist w...,2006,PG,"Trailers,Commentaries,Deleted Scenes"
33,MEMENTO ZOOLANDER,A Touching Epistle of a Squirrel And a Explore...,2006,NC-17,Behind the Scenes
34,MULAN MOON,A Emotional Saga of a Womanizer And a Pioneer ...,2006,G,Behind the Scenes
35,MYSTIC TRUMAN,A Epic Yarn of a Teacher And a Hunter who must...,2006,NC-17,"Commentaries,Behind the Scenes"
36,OPERATION OPERATION,A Intrepid Character Study of a Man And a Fris...,2006,G,"Trailers,Commentaries,Deleted Scenes,Behind th..."
37,PARADISE SABRINA,A Intrepid Yarn of a Car And a Moose who must ...,2006,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes"
38,PARTY KNOCK,A Fateful Display of a Technical Writer And a ...,2006,PG,"Trailers,Behind the Scenes"
39,PERFECT GROOVE,A Thrilling Yarn of a Dog And a Dog who must B...,2006,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes"
40,PINOCCHIO SIMON,A Action-Packed Reflection of a Mad Scientist ...,2006,PG,"Commentaries,Behind the Scenes"
41,PURE RUNNER,A Thoughtful Documentary of a Student And a Ma...,2006,NC-17,"Trailers,Deleted Scenes"
42,RUSHMORE MERMAID,A Boring Story of a Woman And a Moose who must...,2006,PG-13,"Trailers,Commentaries,Deleted Scenes"
43,SADDLE ANTITRUST,A Stunning Epistle of a Feminist And a A Shark...,2006,PG-13,"Trailers,Deleted Scenes"
44,SATURN NAME,A Fateful Epistle of a Butler And a Boy who mu...,2006,R,"Trailers,Commentaries,Deleted Scenes,Behind th..."
45,SEARCHERS WAIT,A Fast-Paced Tale of a Car And a Mad Scientist...,2006,NC-17,"Trailers,Commentaries,Deleted Scenes,Behind th..."
46,SNATCH SLIPPER,A Insightful Panorama of a Woman And a Feminis...,2006,PG,Commentaries
47,STAGE WORLD,A Lacklusture Panorama of a Woman And a Frisbe...,2006,PG,"Commentaries,Behind the Scenes"
48,STRICTLY SCARFACE,A Touching Reflection of a Crocodile And a Dog...,2006,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes"
49,SUBMARINE BED,A Amazing Display of a Car And a Monkey who mu...,2006,R,Trailers
50,SWEDEN SHINING,A Taut Documentary of a Car And a Robot who mu...,2006,PG,"Deleted Scenes,Behind the Scenes"
51,TRAINSPOTTING STRANGERS,A Fast-Paced Drama of a Pioneer And a Mad Cow ...,2006,PG-13,Trailers
52,TRAMP OTHERS,A Brilliant Display of a Composer And a Cat wh...,2006,PG,Deleted Scenes
53,VALLEY PACKER,A Astounding Documentary of a Astronaut And a ...,2006,G,"Commentaries,Deleted Scenes"
54,VELVET TERMINATOR,A Lacklusture Tale of a Pastry Chef And a Tech...,2006,R,Behind the Scenes
55,VERTIGO NORTHWEST,A Unbelieveable Display of a Mad Scientist And...,2006,R,"Commentaries,Behind the Scenes"
56,WISDOM WORKER,A Unbelieveable Saga of a Forensic Psychologis...,2006,R,"Deleted Scenes,Behind the Scenes"
57,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,NC-17,"Trailers,Commentaries,Behind the Scenes"

3. What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

In [7]:
q_3 = """select
	actr.last_name,
	film.title,
    film.release_year
    
from
	sakila.film film

join
	sakila.film_actor fact on film.film_id = fact.film_id

join
	sakila.actor actr on fact.actor_id = actr.actor_id
    
where
	actr.first_name = 'Johnny'
    and actr.last_name = 'Lollobrigida';"""
pd.read_sql(q_3, engine)

       last_name                 title  release_year
0   LOLLOBRIGIDA          AMADEUS HOLY          2006
1   LOLLOBRIGIDA      BANGER PINOCCHIO          2006
2   LOLLOBRIGIDA      BONNIE HOLOCAUST          2006
3   LOLLOBRIGIDA           CHITTY LOCK          2006
4   LOLLOBRIGIDA  COMMANDMENTS EXPRESS          2006
5   LOLLOBRIGIDA     CONEHEADS SMOOCHY          2006
6   LOLLOBRIGIDA      DADDY PITTSBURGH          2006
7   LOLLOBRIGIDA       DAISY MENAGERIE          2006
8   LOLLOBRIGIDA         ENOUGH RAGING          2006
9   LOLLOBRIGIDA     ESCAPE METROPOLIS          2006
10  LOLLOBRIGIDA           FIRE WOLVES          2006
11  LOLLOBRIGIDA        FRONTIER CABIN          2006
12  LOLLOBRIGIDA     GOODFELLAS SALUTE          2006
13  LOLLOBRIGIDA    GRAIL FRANKENSTEIN          2006
14  LOLLOBRIGIDA        GROOVE FICTION          2006
15  LOLLOBRIGIDA          HALL CASSIDY          2006
16  LOLLOBRIGIDA          HEAVENLY GUN          2006
17  LOLLOBRIGIDA      KRAMER CHOCOLATE          2006
18  LOLLOBRIGIDA         LOVE SUICIDES          2006
19  LOLLOBRIGIDA      METAL ARMAGEDDON          2006
20  LOLLOBRIGIDA       PACIFIC AMISTAD          2006
21  LOLLOBRIGIDA      PATTON INTERVIEW          2006
22  LOLLOBRIGIDA            POCUS PULP          2006
23  LOLLOBRIGIDA   RIDGEMONT SUBMARINE          2006
24  LOLLOBRIGIDA   RINGS HEARTBREAKERS          2006
25  LOLLOBRIGIDA         SMILE EARRING          2006
26  LOLLOBRIGIDA    SOLDIERS EVOLUTION          2006
27  LOLLOBRIGIDA        STAR OPERATION          2006
28  LOLLOBRIGIDA        SUNRISE LEAGUE          2006

4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

In [8]:
q_4 = """select
	film.title,
    actr.first_name,
    actr.last_name
    
from
	sakila.film film

join
	sakila.film_actor fact on film.film_id = fact.film_id

join
	sakila.actor actr on fact.actor_id = actr.actor_id
    
where
	film.title = 'Bingo Talented';"""
pd.read_sql(q_4, engine)

            title first_name    last_name
0  BINGO TALENTED     GOLDIE        BRODY
1  BINGO TALENTED    CAMERON         WRAY
2  BINGO TALENTED       CARY  MCCONAUGHEY
3  BINGO TALENTED        JON        CHASE
4  BINGO TALENTED      RENEE         BALL

5. What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

In [11]:
q_5 = """select distinct
	cust.customer_id,
    paym.amount

from
	sakila.customer cust

join
	sakila.payment paym on cust.customer_id = paym.customer_id

where
	paym.amount > 2*
	(
    select
		avg(paym2.amount)
	from
		sakila.payment paym2
	);"""
pd.read_sql(q_5, engine)

     customer_id  amount
0              1    9.99
1              2   10.99
2              3    8.99
3              3   10.99
4              4    8.99
..           ...     ...
651          595    9.99
652          595   10.99
653          597    8.99
654          599    9.99
655          599    8.99

[656 rows x 2 columns]

6. What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.

In [10]:
q_6 = """ select
	cust.first_name,
    cust.last_name,
    count(paym.amount) 'num_payments'
    
from
	sakila.customer cust

join
	sakila.payment paym on cust.customer_id = paym.customer_id

group by
	cust.first_name,
    cust.last_name
    
order by
	count(paym.amount) desc

limit
	5;"""
pd.read_sql(q_6, engine)

  first_name last_name  num_payments
0    ELEANOR      HUNT            46
1       KARL      SEAL            45
2     MARCIA      DEAN            42
3      CLARA      SHAW            42
4      TAMMY   SANDERS            41