# Sakila (Core) Assignment

## Data structure

In [1]:
"![png](C:\Projects\04 Growth\Data Science Bootcamp\04 Data enrichment\Week 16\Assignments\sakila-db-model.png)"

'![png](C:\\Projects\x04 Growth\\Data Science Bootcamp\x04 Data enrichment\\Week 16\\Assignments\\sakila-db-model.png)'

## Imports

In [ ]:
## imports
import pandas as pd
import pymysql
from sqlalchemy import create_engine

## Setup

In [ ]:
pymysql.install_as_MySQLdb()

## Create connection
username = "root"
password = "root"
db_name = "sakila"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [ ]:
## Create engine
engine = create_engine(connection)


1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and citym_payments.

In [ ]:
q = """SELECT * FROM countries;"""
pd.read_sql(q, engine)

2. What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.

3. What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

5. What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

6. What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.